<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ABOUT US</h1>
    <p>AI-ML Project - Dog Breed Classification by Rohith P & Aryaman Anand </p>
    <p>We are both from VIT Vellore and currently entering our VI Semester !</p>
    <style>
        h1,p{
            text-align: center;
            text-decoration-color: black;
            text-shadow: 10px;
        }
    </style>
    <div class="back-button">
        <a href="./index.html">Back to Home</a>
    </div>
</body>
</html>